.containerInputSelect{
    input{
        height: auto !important;
    }
}

.customOption{
    display: flex;
    align-items: center;
    padding: 7.5px;
    gap:0 15px;
    img{
        border-radius: 999px;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
}