.login {
  display: flex;
  flex-direction: column;

  gap: 15px 0;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 10% !important;
  box-sizing: border-box;
}

.loginContainer {

  a{
    width: 100%;
  }

  display: flex;
  align-items: center;
  min-height: 90svh;

  h1{
    margin:0;
  }
}
