.button {
  border: 5px;
  border: none;
  padding: 10px;
  transition: background 0.2s ease;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;

  &:disabled{
    cursor: not-allowed;
    opacity: 0.85;
  }
}

.primary {
  background: var(--primaryColor);
  color: white;
  &:hover {
    background: #182b3f;
  }
}

.secondary{
  background: var(--secondaryColor);
  color:white;
}

.cancel{
  background:var(--danger);
  color:white;
}