.itemCard {
  display: flex;
  flex-direction: column;
  gap: 10px;

  svg {
    fill: rgb(31, 31, 31);
  }

  img {
    width: 50px;
    height: 50px;
  }

  img,
  svg {
    object-fit: cover;
    border-radius: 1000px;
  }

  > div:nth-child(1),
  > div:nth-child(2) {
    display: flex;
    gap: 0 10px;
  }

  p {
    margin: 0;
  }

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: var(--secondaryBackground);
  border-radius: 10px;
  padding: 20px;
}

.cancelado {
  color: var(--danger);
  font-weight: bold;
}

.terminado,
.reservado {
  color: rgb(29, 114, 29);
  font-weight: bold;
}

.overviewReservation {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
