.productCard {
  background: var(--secondaryBackground);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  img {
    height: 70px;
    width: 70px;
    border-radius: 999px;
    object-fit: cover;
  }

  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: bold;
    margin: 0;
  }
}

.productOverview {
  display: flex;
  gap: 0 10px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.stock {
  display: flex;

  b {
    &:after {
      content: ":";
      margin: 0 2.5px 0 0;
    }
  }
}
