.fileItem {
  background: var(--secondaryBackground);
  img {
    height: 50px;
    width: 50px;
    border-radius: 999px;
  }
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  padding: 15px;
  border-radius: 10px;
}

.fileOverview {
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.detailInfoOverview {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px 0;

  > *:nth-child(1) {
    font-weight: bold;
  }
}
