.footer {
  background: var(--primaryColor);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  iframe {
    margin: 10px 0;
    display: block;
    border: none !important;
  }
}

.footerInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  ul,
  ol {
    margin: 0;
    text-align: left;
  }

  li {
    margin: 0 0 7.5px 0;
    list-style: none;
  }
}

.bulletInfo {
  span:nth-child(1) {
    &:after {
      margin: 0 2.5px;
      content: ":";
    }
  }
}

.horario {
  display: grid;
  grid-template-columns: 40% 50%;

  *:nth-child(odd) {
    margin:0 0 5px 0;
    text-align: right;
    &:after{
      content:":";
      margin:0 5px;
    }
  }

  *:nth-child(even){
    text-align: left;
  }

}
