.filesContainer{
    display: flex;
    flex-direction: column;
    gap:10px 0;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px 0;
    h1{
        text-align: center;
    }
}