.calendar{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    padding: 20px;
}

.tipCalendar{
    width: 100%;
}