.accountOverview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;

  img {
    border-radius: 999px;
    object-fit: cover;
    height: 50px;
    width: 50px;
  }
  svg {
    height: 50px;
  }

  svg {
    color: white;
  }
}

.guestProfile {
  background: var(--secondaryBackground);
  border-radius: 1000px;
  padding: 10px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    margin: 0;
  }
}

.profileSigned{
  display: flex;
  gap:0 10px;
  align-items: center;
}