.nav {
  background: var(--secondaryBackground);
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  height: 10svh;
  text-transform: uppercase;
  text-align: center;
  a{
    color: rgb(15, 15, 15);

  }

  p{
    margin:0;
  }

  p:nth-child(1){
    font-weight: bold;
  }

  p:nth-child(2){
    font-weight: 300;
  }

  > button {
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    border-radius: 5px;
    &:hover{
      background: #bbbbbb;
    }

    svg {
      height: 100%;
    }
  }

  >*:nth-child(1){
    display: flex;
    gap:0 10px;
    align-items: center;
    img{
      height: 100%;
    }
  }
}
